h1 {
    border-bottom: black 2px solid;
    margin-top: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.intro {
    text-align: right;
    font-size: 20px;
}


.img-list li {
    display: block;
    width: 30%;
    margin: 2.5% 0 0 2.5%;
    float: left;
}

.img-list-N-goodthings li:last-child {
    width: 50%;
    margin: 0 auto;

}

.img-list-N-grandma li
{
    width: 46%;
    margin: 2% 2%;
    float: left;
}

.img-list-N-truely li {
    display: block;
    width: 50%;
    float: left;
    height: 200%;
}


.img-list-N .intro {
    display: block;
    width: 20%;
    margin: 2% 2%;
    float: left;
    text-align: left;
}